/*
Daniel Louis
Term project
*/
#top {
	float : left;
	padding-right : 3px;
	padding-left : 3px;
  margin-top : 10px;
}
#navigation-top {
	background-color : white;
	margin : 0;
	padding : 0;
	overflow : hidden;
	width : 100%;
	top : 0;
	list-style-type : none;
	position : fixed;
	height : 75px;
}
#navigation-left {
	width : 90px;
	background-color : white;
	height : 100%;
	list-style=type : none;
	position : fixed;
	margin-top : 65px;
	padding : 0;
	overflow : auto;
}

body {
	background-color : grey;
}
